<div class="jumbotron">
    <h1>cebule.NET</h1>
    <p class="lead">W cebule.NET złożysz swój wymarzony komputer za grosze! Wystarczy założyć konto!</p>   
</div>


<div class="row">
    <div class="col-md-4">
        <a href="@Url.Action("All","Processor")" class="homepage-item">
            Procesory
        </a>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("All","Motherboard")" class="homepage-item">
            Płyty główne
        </a>        
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("All","ComputerCasing")" class="homepage-item">
            Obudowy
        </a>        
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a href="@Url.Action("All","Ram")" class="homepage-item">
            Pamięci RAM
        </a> 
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("All","PowerSupply")" class="homepage-item">
            Zasilacze
        </a>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("All","GraphicsCard")" class="homepage-item">
            Karty graficzne
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a href="@Url.Action("All","SoundCard")" class="homepage-item">
            Karty dzwiękowe
        </a>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("All","NetworkCard")" class="homepage-item">
            Karty sieciowe
        </a>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("All","HardDrive")" class="homepage-item">
            Dyski twarde
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a href="@Url.Action("All","Drive")" class="homepage-item">
            Napędy
        </a>
    </div>
</div>