<div class="item-homepage">
    <div class="row">
        <div class="col-md-4 col-lg-4 clearfix">
            <img src="@Model.ImageUrl" }
                 alt="boohoo" class="img-homepage" />
        </div>
        <div class="col-md-6 col-lg-6 col-sm-7 col-xs-7 details">
            <h4>@Model.Name</h4>
            <br />
            <h5>Typ: @Model.RAMType</h5>
            <br />
            <h5>Taktowanie: @Model.Frequency MHz</h5>
            <br />
            <h5>Cena: @Model.Price</h5>
        </div>
        <div class="col-md-2 col-lg-2 col-sm-5 col-xs-5">
            <div class="flex-center">
                @Html.ActionLink("szczegóły", "Details", "Ram", new { id = Model.Id }, new { @class = "btn" })
                @if ((bool?)ViewBag.IsShop == true)
                {
                    @Html.ActionLink("zmień", "All", "Ram", new { id = Model.Id }, new { @class = "btn" })
                    @Html.ActionLink("usuń", "AddToShopCart", "Ram", new { id = 0 }, new { @class = "btn btn-danger" })
                }
                else
                {
                    @Html.ActionLink("do koszyka", "AddToShopCart", "Ram", new { id = Model.Id }, new { @class = "btn" })
                }
                

            </div>

        </div>
    </div>
</div>
